body{
    margin:0 ;
    padding: 0;
}

.container{
   display: flex;
   height: 100vh; 
   flex-direction: column;
}

@media(min-width: 768px){
    .container{
        flex-direction: row;
    }
    .Menu-item{
        display: block;
        margin-bottom: 1rem;
        background-color: aquamarine;
        border: 1px solid;
        text-align: center;
    }

    .container-left{
        width: 20%;
        background-color: white;
        padding: 1rem;
    }
    .container-right{
        width: 80%;
        background-color: rgb(209, 208, 178);
        padding: 1rem;
        border-left-style: solid;
        border-left-color: black;
        border-left-width: 4px;
    }

    
}

@media(max-width: 768px){
    
    .container{
       display: flex;
       height: 100vh; 
       flex-direction: column;
    }

    .Menu-item{
        display: flex;
        margin-bottom: 1rem;
        background-color: aquamarine;
        border: 1px solid;
        text-align: center;
    }

    .container-right{
        width: 100%;
        background-color: rgb(209, 208, 178);
        padding: 1rem;
        border-top-style: solid;
        border-top-color: black;
        border-top-width: 4px;
    }

    .container-left{
        width: 100%;
        background-color: white;
        padding: 1rem;
    }  

    .Menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        margin: auto;
    }
}

.for-img{
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
}

/* BIO */
.img-bio{
    width: 50%;
    height: 70%;
    display: block;
    margin: 0 auto; 
}

.text-bio{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    line-height: 1;
}

/* CONTACTO */
h2{
    margin-top: 0;
}

.form-control{
    display: block;
    margin: 0.35rem 0;
}

.form-button{
    display: block;

}

.error{
    color: red;
    display: none;
}

.show-error{
    display: block;
}

.ok{
    color: green;
    display: none;
}

.show-ok{
    display: block;
}

/* USER */
.user-img{
    display: block;
    margin: 0 auto;
}

#get-user {
    display: block;
    margin: 0 auto;
}

.user{
    text-align: center;
    margin: 0 auto;
}

#user-jpg{
    display: block;
    margin: 0 auto; 
}
